$loading-width = 16px
$loading-border-width = 2px

// popup
$popup-mask-bgc := rgb(37, 38, 45)
$popup-mask-opacity := .4

// toast
$toast-color := $color-light-grey-s
$toast-bgc := rgba(37, 38, 45, 0.9)


